[submodule "crates/anchor"]
	path = crates/anchor
	url = https://github.com/coral-xyz/anchor.git
[submodule "crates/block-explorers"]
	path = crates/block-explorers
	url = https://github.com/wdcodecn/block-explorers.git
